@media (max-width: 1480px) {
  header {
    padding: 12px 2.5%;
    transition: 0.1s;
    border-bottom: 1px solid transparent;
    backdrop-filter: blur(15px);
  }
  header.sticky {
    padding: 10px 2.5%;
    transition: 0.1s;
    backdrop-filter: blur(15px);
  }
  section {
    padding: 110px 3% 60px;
  }
  .end {
    padding: 15px 3%;
  }
}

@media (max-width: 1100px) {
  :root {
    --big-font: 4rem;
    --h2-font: 2.5rem;
    --p-font: 1rem;
    transition: 0.1s;
  }
  .home-text h3 {
    font-size: 2.5rem;
  }
  .home {
    height: 87vh;
  }
}

@media (max-width: 920px) {
  .about {
    grid-template-columns: 1fr;
  }
  .about-img {
    text-align: center;
    order: 2;
  }
  .about-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .about-text iframe {
    width: 100%;
    height: 500px;
  }
  .contact {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 840px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    text-align: left;
    transition: all 0.45s ease;
  }
  .navlist a {
    display: block;
    margin: 17px;
    font-size: 20px;
    transition: all 0.45s ease;
    color: var(--text-color);
  }
  .navlist a:hover {
    color: var(--main-color);
  }
  .navlist a.active {
    color: var(--text-color);
  }
  .navlist.open {
    top: 100%;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
}
@media (max-width: 385px) {
  /* #portfolio {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .portfolio-content .row {
    width: 90%;
  }
  .portfolio-content .layer p {
    color: var(--second-color);
    font-size: 0.8rem;
    line-height: 1.8;
  } */
  body {
    zoom: 90%;
  }
}
@media (max-width: 320px) {
  body {
    zoom: 90%;
  }
}
