:root {
  --bg-color: #fbfbfd;
  --second-bg-color: #202020;
  --3-bg-color: #f0f0f0;
  --text-color: #2a2a2a;
  --second-color: rgb(245, 245, 245);
  --main-color: #ff4d05;
  --pink-color: #cf5469;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #f862856e;
  border-radius: 25px;
  border: 2px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #f86285;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
::selection {
  background-color: rgba(78, 78, 78, 0.654);
}
a {
  color: var(--text-color);
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
a i.bx.bx-up-arrow-alt {
  position: fixed;
  bottom: 5px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
select,
option {
  outline: none !important;
  border: none !important;
  cursor: pointer;
}
